header {
    height: 70px;
    width: 100%;
}
.size {
    font-weight:bold;
    text-shadow: 1px 0 #f3eb02;
}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#halo {
    text-align: center;
}

.nama {
    padding-top: 250px;
}

.project-title {
    margin-top: 350px;
}

.image {
    width: 300px;
    height: auto;
}

.project-grids {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image:hover {
    transform: scale(1.1);
}

#contact {
    margin-top: 100px;
}

.fixed-header {
    width: 100%;
    position: fixed;
    top: 0;
    background: #333;
    padding: 5px;
    color: #fff;
}